.book_section {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .book_section {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  border-radius: var(--borderRadius);
  padding: 2rem;
  background-color: var(--white);
  h4 {
    color: var(--textColor);
    margin-top: 1rem;
  }
  h4:hover {
    background: var(--red-light);
    cursor: pointer;
  }
  p {
    font-size: 1.4rem;
    margin: 1rem 0;
    color: #f58686;
  }
  div {
    display: flex;
    justify-content: center;
  }
}
.book:hover {
  background: var(--grey-200);
  cursor: pointer;
}
