.book_section {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .book_section {
    grid-template-columns: repeat(3, 1fr);
  }
}
.book {
  border-radius: var(--borderRadius);
  padding: 2rem;
  background-color: var(--white);
  h4 {
    color: var(--textColor);
    margin-top: 1rem;
  }
}
